* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font: 1em/1.2em Helvetica, Arial, sans-serife;
  color: #000;
}

.wrapper {
  width: 100%;
  max-width: 40em;
  margin: 2.5em auto;
  padding: 1.5em;
  background:#adadad;
}

h1 {
  line-height: 1.4em;
  font-family: Courier;
}
h1 span {
  font-size: .6em;
}

p {
  margin-bottom: .5em;
}

pre {
  background: #ddd;
  padding:0 1.5em;
  overflow-x:scroll;
}
.output {
  width: 100%;
  height: auto;
  padding: 1.5em;
  background: #ddd;
}

.lorem {
  border: 1px solid red;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 1em;
  border: none;
  background: #2c3e50;
  color: #fff;
  padding: .5em 1em;
}

button:hover {
  cursor: pointer;
}
